<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <h2>ブログ一覧</h2>

    <%= link_to "ブログを投稿する", new_blog_path, class: 'btn btn-primary' %>

    <% @blogs.each do |blog| %>
      <div class="row">
        
        <%= link_to blog_path(blog), method: 'get' do %>

          <h4>タイトル:<strong><%= blog.title %></strong></h4>
        <% end %>
        
        <p>本文:<%= blog.content %></p>
        <div class="prof-img">
          <p><%= profile_img(blog.user) if profile_img(blog.user) %></p>
        </div>
        <p>【ユーザID :】<%= blog.user_id %>【ユーザ名 :】
        <% if blog.user.name.blank? %>
          <%= "未登録" %><br>
        <% else %>
          <%= blog.user.name %><br>
        <% end %>

        </p>

        <% if current_user.id == blog.user_id %>
          <%= link_to "", edit_blog_path(blog.id), class: 'fa fa-pencil-square-o fa-lg' %>
          <%= link_to "", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除して宜しいですか？'}, class: 'fa fa-trash-o fa-lg' %>
        <% end%>
      </div>
    <% end %>

  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>